<ng-container *ngIf="state$ | async as state">
  <alert-message *ngIf="state.message" type="error">
    {{ message }}
  </alert-message>
  <mat-progress-bar
    *ngIf="state.loading"
    mode="indeterminate"
  ></mat-progress-bar>

  <ng-container *ngIf="state.data">
    <mat-accordion expanded>
      <mat-expansion-panel>
        <!-- Header -->
        <mat-expansion-panel-header>
          <mat-panel-title class="f-14" [style.flex-grow]="2">
            Reactive programming with RxJS 7.5+, ...
          </mat-panel-title>
          <mat-panel-description class="jc-flex-end">
            <custom-button
              variant="icon"
              tooltip="Clear all"
              (click)="cleanFilters()"
              *ngIf="clearAllIconActive()"
            >
              <ng-container icon>clear_all</ng-container>
            </custom-button>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <!-- Content -->
        <ng-template matExpansionPanelContent>
          <form [formGroup]="form" class="panel-container d-flex gap-1">
            <custom-select
              [items]="selection"
              formControlName="group"
              searchPlaceholder="Find the group..."
            ></custom-select>

            <custom-input
              class="flex-1"
              label="search"
              [clearFilter]="true"
              formControlName="query"
              placeholder="What are you looking for today..."
            >
            </custom-input>
          </form>
        </ng-template>
      </mat-expansion-panel>
    </mat-accordion>

    <ng-container *ngIf="state.data.length > 0; else notFound">
      <card-item [data]="state.data" [searchTerm]="query.value"></card-item>
    </ng-container>

    <ng-template #notFound>
      <div class="text-center my-2">
        <span>No results match. The active filters are hiding all items.</span>
        <br class="my-1" />
        <a
          (click)="cleanFilters()"
          class="text-light-blue text-deco-underline cursor-pointer"
        >
          Reset filters
        </a>
      </div>
    </ng-template>
  </ng-container>
</ng-container>
