@use 'palette';
@use 'colors/severity'as severity;

.chip {
  &-success {
    @include severity.chip-config(palette.$success);
  }

  &-error {
    @include severity.chip-config(palette.$error);
  }

  &-spacing {
    display: inline-block;

    padding      : 0.125rem 0.5rem;
    border-radius: 1rem;
  }
}