@use 'colors/severity'as severity;

.message {
  &-success {
    $success: #287D3C;
    @include severity.config($success);
  }

  &-info {
    $info: #2E5AAC;
    @include severity.config($info);
  }

  &-warning {
    $warning: #B95000;
    @include severity.config($warning);
  }

  &-error {
    $error: #DA1414;
    @include severity.config($error);
  }
}