@use 'palette';

.severity {
  &-success {
    color           : rgba(palette.$success, $alpha: 0.9);
    background-color: rgba(palette.$success, $alpha: 0.1);
    border          : 1px solid palette.$success;
  }

  &-error {
    color           : rgba(palette.$error, $alpha: 0.9);
    background-color: rgba(palette.$error, $alpha: 0.1);
    border          : 1px solid palette.$error;
  }
}

.chip-spacing {
  padding      : 0.25rem 0.5rem;
  border-radius: 1rem;
}