$light-blue : #5175FB;
$dark-blue  : #3F51B5;
$white      : #FFFFFF;
$light      : #F5F6FA;
$error      : #E14A4A;
$success    : #4ABB4A;

/* Dark: use RGBA instead of HEX */

$shade : rgba(0, 0, 0, .15);
$black : rgb(27, 31, 59);
$secondary : rgba(115, 115, 115, 1);