$light-blue: #5175fb;
$dark-blue: #3f51b5;
$white: #ffffff;
$light: #f5f6fa;
$error: #e14a4a;
$success: #4abb4a;

/* Dark: use RGBA instead of HEX */

$shade: rgba(0, 0, 0, 0.15);
$black: rgb(27, 31, 59);
$secondary: rgba(115, 115, 115, 1);
