$primary    : #7B78F8;
$secondary  : #737373;
$light-blue : #5175FB;
$white      : #FFFFFF;
$black      : #121638;
$light      : #F5F6FA;
$grey       : #858B93;
$error      : #E14A4A;
$success    : #4ABB4A;