<ng-container *ngIf="showNotification$ | async">
  <div class="m-2" @slideInOut>
    <alert-message type="warning">
      <div>
        There's new comments.
        <u class="cursor-pointer" (click)="update$.next()">Click</u> to reload
        the data
      </div>
    </alert-message>
  </div>
</ng-container>

<custom-table
  [data]="comments$ | async"
  [columns]="columns"
  [defaultSortColumn]="'id'"
>
  <ng-container header>
    <h2>Advanced Caching</h2>
    <custom-button variant="flat" (click)="forceReload()">
      Refresh
    </custom-button>
  </ng-container>

  <custom-column columnName="body">
    <ng-template let-comment>
      <span [innerHTML]="comment.body | lineBreak"> </span>
    </ng-template>
  </custom-column>

  <ng-container noData>
    <ng-container>
      <div class="text-center m-2">Loading ...</div>
    </ng-container>
  </ng-container>
</custom-table>
