button {
  outline: none;
  background-color: var(--base-01);

  &:focus {
    outline: none;
  }
}

.cursor {
  &-pointer:hover {
    cursor: pointer;
  }

  &-prevent:hover {
    cursor: not-allowed;
  }
}
