button {
  outline: none;
  border : 0;

  &:hover {
    cursor: pointer;

    transition: all .1s ease;
    box-shadow: var(--hover-light-shadow);
  }

  &:focus {
    outline: none;
  }
}

.cursor {
  &-pointer:hover {
    cursor: pointer;
  }

  &-prevent:hover {
    cursor: not-allowed;
  }
}

.btn {
  &-circle {
    border-radius: 50%;
  }
}

// Override AM

.mat-icon-button.mat-button-disabled {
  cursor: not-allowed !important;
}