<div class="d-flex ai-center jc-center p-2">
  <button
    class="button position-relative w-300 bd-auto bg-none f-32 fw-bold text-center text-primary-active"
  >
    <span class="text-primary-active d-inline-block py-1">Confirm</span>
    <svg
      class="d-none m-0-auto"
      enable-background="new 0 0 515.556 515.556"
      width="36"
      height="36"
      viewBox="0 0 515.556 515.556"
      (click)="onNext()"
    >
      <path
        class="icon"
        d="m0 274.226 176.549 176.886 339.007-338.672-48.67-47.997-290.337 290-128.553-128.552z"
      />
    </svg>
  </button>
</div>
