<section class="bg-white bd-auto p-3 m-2">
  <div class="d-flex jc-between">
    <button mat-flat-button color="primary" (click)="dispatchOrder()">
      Order Durum
    </button>

    <button
      mat-button
      matTooltip="Customer #{{ customerId }}"
      matTooltipPosition="above"
    >
      <span>🙋🏻‍♂️</span>
      <span class="mx-1">|</span>
      <span class="text-secondary">Qty: 2</span>
    </button>
  </div>

  <fieldset class="mt-2 py-1 bd-auto">
    <legend>Add Materials</legend>
    <div class="d-flex gap-2 mx-1">
      <button
        mat-icon-button
        (click)="_flatBread.next('flat bread')"
        matTooltip="Flat Bread"
      >
        🥖
      </button>
      <button mat-icon-button (click)="_meat.next('meat')" matTooltip="Meat">
        🥩
      </button>
      <button mat-icon-button (click)="_sauce.next('sauce')" matTooltip="Sauce">
        🥓
      </button>
      <button
        mat-icon-button
        (click)="_tomato.next('tomato')"
        matTooltip="Potato"
      >
        🍅
      </button>
      <button
        mat-icon-button
        (click)="_cabbage.next('cabbage')"
        matTooltip="Cabbage"
      >
        🥬
      </button>
    </div>
  </fieldset>

  <ng-container *ngIf="delivery$ | async as delivery">
    <ng-container *ngIf="delivery.product.length > 0">
      <p class="pt-1">The first durum is done 😍</p>
    </ng-container>
  </ng-container>
</section>
