<button (click)="_flatBread.next('flat bread')">Add Flat Bread</button>
<br />
<button (click)="_meat.next('meat')">Add Meat</button>
<br />
<button (click)="_sauce.next('sauce')">Add Sauce</button>
<br />
<button (click)="_tomato.next('tomato')">Add Tomato</button>
<br />
<button (click)="_cabbage.next('cabbage')">Add Cabbage</button>
<hr />
<button (click)="dispatchOrder()">Order Durum</button>

<ng-container *ngIf="delivery$ | async as delivery">
  <ng-container *ngIf="delivery.product.length > 0">
    <h4>Enjoy</h4>
    <h4>Ingredients:</h4>
    <pre>{{ delivery | json }}</pre>
  </ng-container>
</ng-container>
