/* Error / Icon */
.mat-error {
  text-transform: uppercase;
  letter-spacing: 1px;
}

@media screen and (min-width: 641px ) {
  .form-container {
    position : fixed;
    top      : calc(40% - 1rem);
    left     : 50%;
    transform: translate(-50%, -50%);

    max-width : 500px;
    max-height: calc(100vh - 2rem);

    -ms-overflow-style: none;
    scrollbar-width   : none;

    &::-webkit-scrollbar {
      display: none;
    }

    .full-name {
      display: flex;
    }

    .location {
      display: flex;

      .city {
        width: 50%;
      }

      .state {
        width: 30%;
      }

      .zip {
        width: 20%;
      }
    }

    button {
      width: initial;
    }
  }
}