<div class="bg-white w-500 bd-auto p-2 m-2">
  <mat-progress-bar
    *ngIf="saving"
    class="mb-1"
    mode="indeterminate"
  ></mat-progress-bar>

  <div class="d-flex jc-between ai-center">
    <user-breadcrumbs>Create User</user-breadcrumbs>
    <button
      mat-flat-button
      color="primary"
      (click)="onCreate()"
      [disabled]="saving || !isValid"
    >
      Save
    </button>
  </div>

  <hr />

  <user-details
    (isValid)="isValid = $event"
    (changed)="onFormChanged($event)"
  ></user-details>
</div>
