<ng-container
  *ngIf="errorMessage$ | async as message; else noError"
></ng-container>

<ng-template #noError>
  <ng-container *ngIf="state$ | async as state">
    <ng-container *ngIf="state.loading; else getData">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </ng-container>

    <ng-template #getData>
      <div class="m-2">
        <!-- Header -->
        <div class="bg-white bd-auto p-2 mb-2">
          <div class="d-flex jc-between ai-center">
            <h2 [style.margin.px]="0">
              <span class="text-error mr-1">#{{ state.article.id }}</span>
              <span>{{ state.article.title }}</span>
            </h2>
            <custom-button
              variant="icon"
              tooltip="All comments"
              [routerLink]="['..']"
            >
              <ng-container icon>list_alt</ng-container>
            </custom-button>
          </div>
          <small class="text-secondary">{{ state.article.body }}</small>
        </div>

        <div class="bg-white bd-auto p-2">
          <ng-container *ngFor="let item of state.comments; let last = last">
            <div class="d-flex" [class.mb-2]="!last">
              <div class="text-deco-underline mr-2">
                {{ item.id }}
              </div>
              <div>
                <div>{{ item.email | lowercase }}</div>
                <div class="text-secondary mt-1">
                  💬
                  <span class="ml-1">{{ item.body }}</span>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </ng-template>
  </ng-container>
</ng-template>
