<mat-toolbar color="primary" class="d-flex position-sticky top-0 z-index-100">
  <ng-container *ngFor="let item of navigation; trackByKey">
    <custom-button
      type="text"
      class="opacity-0.8"
      routerLinkActive="opacity-1"
      [routerLink]="['/', item]"
    >
      {{ item === "components-ui" ? "Components" : (item | titlecase) }}
    </custom-button>
  </ng-container>
  <div class="flex-auto"></div>
  <ng-container *ngIf="loggedIn$ | async; else loginIcon">
    <a
      title="Logged In"
      mat-icon-button
      class="text-white"
      data-toggle="tooltip"
      (click)="openLogoutDialog()"
    >
      <mat-icon aria-hidden="false" aria-label="Logged In">
        person_outline
      </mat-icon>
    </a>
  </ng-container>
  <ng-template #loginIcon>
    <a
      title="Login"
      mat-icon-button
      class="text-white"
      data-toggle="tooltip"
      (click)="openLoginDialog()"
    >
      <mat-icon aria-hidden="false" aria-label="Login">fingerprint</mat-icon>
    </a>
  </ng-template>
</mat-toolbar>
