<mat-toolbar color="primary" class="d-flex position-sticky top-0 z-index-100">
  <ng-container *ngFor="let item of navigation; trackByKey">
    <custom-button
      variant="basic"
      class="opacity-0.5"
      [routerLink]="['/', item]"
      routerLinkActive="opacity-1"
    >
      {{ item | titlecase }}
    </custom-button>
  </ng-container>
  <div class="flex-auto"></div>
  <ng-container *ngIf="loggedIn$ | async; else loginIcon">
    <custom-button
      variant="icon"
      tooltip="Sign out"
      buttonClass="text-white"
      [matMenuTriggerFor]="options"
    >
      <ng-container icon>person_outline</ng-container>
    </custom-button>
    <mat-menu #options="matMenu">
      <button mat-menu-item>Profile</button>
      <hr [style.margin]="0" />
      <button mat-menu-item (click)="onLogout()">Sign out</button>
    </mat-menu>
  </ng-container>
  <ng-template #loginIcon>
    <custom-button
      variant="icon"
      tooltip="Sign in"
      buttonClass="text-white"
      (click)="onLogin()"
    >
      <ng-container icon>fingerprint</ng-container>
    </custom-button>
  </ng-template>
</mat-toolbar>
