<form [formGroup]="form">
  <ng-container *ngIf="[mode.REGISTER, mode.LOGIN].includes(mode$.value)">
    <custom-button
      variant="outline"
      [disabled]="loading"
      buttonClass="width-100"
      (click)="googleSignIn()"
    >
      <img
        lazyImg
        width="16"
        class="mr-2"
        alt="google"
        src="assets/images/google.png"
      />
      <span>
        Sign {{ mode$.value === mode.LOGIN ? "in" : "up" }} with Google
      </span>
    </custom-button>
  </ng-container>

  <mat-divider [style.margin]="'1rem -1.5rem'"></mat-divider>

  <ng-container>
    <!-- Fields -->
    <custom-input label="Email" formControlName="email"></custom-input>
    <custom-input
      [label]="
        [mode.REGISTER, mode.LOGIN].includes(mode$.value)
          ? 'Password'
          : 'New password'
      "
      [type]="hidePassword ? 'password' : 'text'"
      formControlName="password"
    >
      <custom-button
        suffix
        variant="icon"
        *ngIf="form.get('password').value"
        [iconClass]="
          hidePassword
            ? 'mdi-eye-off-outline mdi-18px text-secondary'
            : 'mdi-eye-outline mdi-18px text-secondary'
        "
        [tooltip]="hidePassword ? 'View' : 'Hide'"
        (click)="hidePassword = !hidePassword"
      >
      </custom-button>
    </custom-input>

    <!-- Utils -->
    <div
      class="d-flex jc-between ai-center cursor-pointer text-secondary text-deco-underline f-12 mb-2"
      [style.margin-top.px]="-8"
    >
      <a
        *ngIf="[mode.REGISTER, mode.FORGOT_PASSWORD].includes(mode$.value)"
        (click)="login()"
        i18n
      >
        Already have an account?
      </a>
      <ng-container *ngIf="mode$.value === mode.LOGIN">
        <a (click)="register()" i18n> Don't have an account? </a>
        <a (click)="forgotPassword()" i18n> Forgot password? </a>
      </ng-container>
    </div>

    <!-- Buttons -->
    <div class="width-100">
      <custom-button
        variant="flat"
        buttonClass="width-100"
        (click)="onAction()"
        [loading]="loading"
        [disabled]="form.invalid || loading"
      >
        <ng-container [ngSwitch]="mode$.value">
          <ng-container *ngSwitchCase="mode.LOGIN" i18n> Login </ng-container>
          <ng-container *ngSwitchCase="mode.REGISTER" i18n>
            Register
          </ng-container>
          <ng-container *ngSwitchCase="mode.FORGOT_PASSWORD" i18n>
            Reset password
          </ng-container>
        </ng-container>
      </custom-button>
    </div>
  </ng-container>
</form>
