<form [formGroup]="loginForm">
  <h2 mat-dialog-title>Login</h2>

  <!-- Content -->
  <mat-dialog-content>
    <custom-input
      type="text"
      cdkTrapFocus
      label="Username"
      formControlName="username"
    ></custom-input>
    <custom-input
      label="Password"
      [type]="hidePassword ? 'password' : 'text'"
      formControlName="password"
    >
      <custom-button suffix type="icon" (click)="hidePassword = !hidePassword">
        {{ hidePassword ? "visibility_off" : "visibility" }}
      </custom-button>
    </custom-input>
  </mat-dialog-content>

  <!-- Actions -->
  <mat-dialog-actions class="d-flex jc-flex-end">
    <custom-button [mat-dialog-close]="true" (click)="onSubmit()">
      Log In
    </custom-button>
  </mat-dialog-actions>
</form>
