<!-- 💥 shortcut URL: http://localhost:4200/web-ui/table/advanced-crud -->

<section class="p-2">
  <form [formGroup]="form">
    <div class="d-flex jc-between">
      <!-- header: Actions -->
      <back-button></back-button>
      <div class="d-flex">
        <button mat-stroked-button color="primary" class="ml-auto" matTooltip="Click here to open search box"
          (click)="openSearchBox(); onSearchFocus()">
          <mat-icon>search</mat-icon>
        </button>
        <button mat-flat-button color="primary" [ngStyle]="{'margin-left.rem': 1}" [disabled]="form.invalid"
          (click)="addNewRow(); onFocus()">
          Add New Row
        </button>
      </div>
    </div>

    <div *ngIf="visibleBox" class="d-flex jc-flex-end mt-2" [@slideInOut]>
      <mat-form-field class="width-100" appearance="outline">
        <mat-label>What are you looking for...</mat-label>
        <input matInput (keyup)="onSearch($event.target.value)" #searchInput>
      </mat-form-field>
    </div>

    <!-- Table -->
    <ng-container formArrayName="rows">
      <table id="mat-table" mat-table [dataSource]="dataSource" class="width-100 mt-2">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> Category ID </th>
          <td mat-cell *matCellDef="let element; let idx = index" [formGroup]="element">
            <mat-form-field [appearance]="rows.value[idx].isEditable ? 'none' : 'legacy'" [ngStyle]="{'width.%': 90}">
              <input matInput type="text" formControlName="categoryId" [readonly]="rows.value[idx].isEditable"
                #focusInput (keydown.enter)="onEnter(idx, $event)">
            </mat-form-field>
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Category Name </th>
          <td mat-cell *matCellDef="let element; let idx = index" [formGroup]="element">
            <mat-form-field [appearance]="rows.value[idx].isEditable ? 'none' : 'legacy'" [ngStyle]="{'width.%': 90}">
              <input matInput type="text" formControlName="categoryName" [readonly]="rows.value[idx].isEditable"
                (keydown.enter)="onEnter(idx, $event)">
            </mat-form-field>
          </td>
        </ng-container>

        <!-- row: Actions -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let element; let idx = index" [formGroup]="element">

            <button mat-icon-button *ngIf="!rows.value[idx].isEditable" matTooltip="Save Changes" color="primary"
              [disabled]="isValidRow(idx)" (click)="saveChanges(idx)">
              <mat-icon>check_circle</mat-icon>
            </button>

            <button mat-icon-button *ngIf="!rows.value[idx].isEditable" matTooltip="Cancel Changes" color="warn"
              [ngStyle]="{'margin-left.rem': 0.5}" (click)="cancelChanges(idx)">
              <mat-icon>cancel</mat-icon>
            </button>

            <button mat-icon-button *ngIf="rows.value[idx].isEditable" matTooltip="Edit" color="primary"
              [disabled]="isValidRow(idx)" (click)="editItem(idx)">
              <mat-icon>swap_horizontal_circle</mat-icon>
            </button>

            <button mat-icon-button *ngIf="rows.value[idx].isEditable" matTooltip="Delete" color="warn"
              [ngStyle]="{'margin-left.rem': 0.5}" (click)="deleteItem(idx)">
              <mat-icon>remove_circle</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- No Data -->
        <tr class="mat-row text-center" *matNoDataRow>
          <td class="mat-cell" colspan="3">No data found.</td>
        </tr>
      </table>

      <mat-paginator [length]="dataSource.data.length"
        [pageSizeOptions]="[5, dataSource.data.length > 5 ? dataSource.data.length : '', 10]" showFirstLastButtons>
      </mat-paginator>
    </ng-container>
  </form>
</section>