<div class="position-relative bg-white bd-auto bd-light width-100 p-3">
  <div class="shade bd-auto" *ngIf="isLoadingResults">
    <mat-spinner [diameter]="50"></mat-spinner>
  </div>

  <!-- Error -->
  <div
    [style]="{ display: (service.error$ | async) ? 'block' : 'none' }"
    class="text-center"
  >
    <span class="text-error">
      GitHub's API rate limit has been reached. It will be reset in one minute.
    </span>
    <a
      (click)="resetPage()"
      class="d-block text-light-blue text-deco-underline cursor-pointer"
    >
      Reset page
    </a>
  </div>

  <!-- Table -->
  <div [style]="{ display: (service.error$ | async) ? 'none' : 'block' }">
    <search-filter [dataSource]="dataSource"></search-filter>

    <div class="table-container bd-auto">
      <table
        mat-table
        [dataSource]="dataSource"
        class="width-100"
        matSort
        matSortActive="created"
        matSortDisableClear
        matSortDirection="desc"
      >
        <ng-container matColumnDef="created">
          <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
            Created
          </th>
          <td mat-cell *matCellDef="let row">{{ row.created_at | date }}</td>
        </ng-container>

        <ng-container matColumnDef="state">
          <th mat-header-cell *matHeaderCellDef>State</th>
          <td mat-cell *matCellDef="let row">
            <span
              class="chip-spacing f-13"
              [class]="{
                'chip-success': row.state === 'open',
                'chip-error': row.state === 'closed'
              }"
            >
              {{ row.state }}
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="number">
          <th mat-header-cell *matHeaderCellDef>#</th>
          <td mat-cell *matCellDef="let row">{{ row.number }}</td>
        </ng-container>

        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef>Title</th>
          <td mat-cell *matCellDef="let row">{{ row.title }}</td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns; sticky: true"
          [style.background-color]="'#F5F6FA'"
        ></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">
            <ng-container *ngIf="isLoadingResults; else noResults">
              <div class="text-center">Loading...</div>
            </ng-container>
            <ng-template #noResults>
              <div class="my-1 text-center">
                <span>No issue was found to match your search/filters.</span>
                <br class="my-1" />
                <a
                  (click)="resetFilters()"
                  class="text-light-blue text-deco-underline cursor-pointer"
                >
                  Reset your criteria
                </a>
              </div>
            </ng-template>
          </td>
        </tr>
      </table>
    </div>

    <mat-paginator [length]="resultsLength" [pageSize]="30"></mat-paginator>
  </div>
</div>
