<ng-container *ngIf="state$ | async as state">
  <alert-message *ngIf="state.message" type="error" [hasBorder]="false">
    {{ state.message }}
  </alert-message>

  <custom-table
    [data]="state.data"
    [length]="1000"
    [columns]="columns"
    [defaultSortColumn]="'created_at'"
    [pageSizeOptions]="[30]"
    [showFirstLastButtons]="true"
    (pageChanges)="pageChanges($event)"
    [style]="{ 'max-height': '300px' }"
  >
    <h2 header i18n>Github Issues</h2>

    <form filters [formGroup]="form">
      <custom-select
        placeholder="State"
        formControlName="states"
        [items]="FILTERS.states"
        [checkAll]="false"
        [bindLabelKey]="'label'"
        [bindValueKey]="'value'"
        searchPlaceholder="Search"
      ></custom-select>

      <custom-input
        class="flex-1"
        label="search"
        [clearFilter]="true"
        formControlName="query"
        placeholder="Find an issue..."
      >
      </custom-input>
    </form>

    <custom-column columnName="created_at">
      <ng-template let-issue>{{ issue.created_at | date }}</ng-template>
    </custom-column>

    <custom-column columnName="number">
      <ng-template let-issue>
        <a
          target="_blank"
          [href]="issue.html_url"
          rel="noopener noreferrer"
          class="cursor-pointer text-deco-none text-link text-link-hover"
        >
          {{ issue.number }}
        </a>
      </ng-template>
    </custom-column>

    <custom-column columnName="state">
      <ng-template let-issue>
        <span
          class="chip-spacing f-13"
          [class]="{
            'chip-success': issue.state === 'open',
            'chip-error': issue.state === 'closed'
          }"
        >
          {{ issue.state }}
        </span>
      </ng-template>
    </custom-column>

    <ng-container noData>
      <ng-container *ngIf="state.loading; else getData">
        <div class="text-center m-2" i18n>Loading ...</div>
      </ng-container>
      <ng-template #getData>
        <ng-container *ngIf="state.message; else noResults">
          <div class="text-center m-2" i18n>
            An error occurred. Please try again later.
          </div>
        </ng-container>
        <ng-template #noResults>
          <no-results (resetFilters)="query.setValue('')"></no-results>
        </ng-template>
      </ng-template>
    </ng-container>
  </custom-table>
</ng-container>
