<ng-container *ngIf="errorMessage$ | async as message; else noError">
  <alert-message type="error"> {{ message }} </alert-message>
</ng-container>

<ng-template #noError>
  <custom-table
    [data]="issues$"
    [columns]="columns"
    [defaultSortColumn]="'created_at'"
    [length]="resultsLength"
    (pageChanges)="pageChanges($event)"
  >
    <h2 header>Github: Angular Issues</h2>
    <search-filter filters (filters)="filteredIssues($event)"></search-filter>

    <custom-column columnName="created_at">
      <ng-template let-issue>
        {{ issue.created_at | date }}
      </ng-template>
    </custom-column>

    <custom-column columnName="state">
      <ng-template let-issue>
        <span
          class="chip-spacing f-13"
          [class]="{
            'chip-success': issue.state === 'open',
            'chip-error': issue.state === 'closed'
          }"
        >
          {{ issue.state }}
        </span>
      </ng-template>
    </custom-column>
  </custom-table>
</ng-template>
