@use 'palette';

:host {
  display: flex;
  margin : 2rem;
}

.table-container {
  width     : 100%;
  min-height: 200px;
  max-height: 400px;
  overflow  : auto;
}

.loading-shade {
  background: palette.$shade;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  min-width: 5rem;
}

.mat-column-created {
  min-width: 8rem;
}