<ng-container *ngIf="errorMessage$ | async as message; else noError">
  <alert-message type="error"> {{ message }} </alert-message>
</ng-container>

<ng-template #noError>
  <custom-table
    [dataSource]="users$"
    [columns]="['id', 'name', 'email']"
    [defaultSortColumn]="'name'"
  >
    <div header class="d-flex ai-baseline jc-between mb-1">
      <h2 class="text-black">List Users</h2>
      <button mat-flat-button color="primary" [routerLink]="['create']">
        Create User
      </button>
    </div>
  </custom-table>
</ng-template>
