<ng-template #selectionTpl let-users>
  <div i18n>This will delete selected users. Are you sure?</div>
  <ul>
    <li *ngFor="let user of users">#{{ user.id }} {{ user.name }}</li>
  </ul>
</ng-template>

<ng-container *ngIf="state$ | async as state">
  <alert-message *ngIf="state.error" type="error">
    {{ state.error }}
  </alert-message>

  <custom-table
    *ngIf="state.data | filter : query.value as filtered_data"
    [data]="filtered_data"
    [columns]="columns"
    [highlight]="query.value"
    [pageSizeOptions]="[5, 10]"
    [defaultSortColumn]="'name'"
    [enableCheckbox]="true"
    (selectedRows)="selection = $event"
    [enableExpansion]="true"
  >
    <ng-container header>
      <h2>List Users</h2>
      <custom-button
        variant="flat"
        color="primary"
        (click)="onBulk({})"
        [disabled]="state.loading"
        i18n
      >
        Create User
      </custom-button>
    </ng-container>

    <div filters>
      <ng-container *ngIf="selection.length > 0; else searchingTemplate">
        <section class="text-black d-flex ai-center jc-between py-1">
          <div *ngIf="selection.length > 0" class="flex-1" i18n>
            {{ selection.length }}
            {selection.length, plural, =1 {user} other {users} } selected
          </div>
          <ng-container>
            <custom-button
              variant="flat"
              color="warn"
              (click)="onDelete(selection)"
              i18n
            >
              Delete
            </custom-button>
            <custom-button variant="flat" (click)="onCancel()" i18n>
              Cancel
            </custom-button>
          </ng-container>
        </section>
      </ng-container>

      <!-- Basic template -->
      <ng-template #searchingTemplate>
        <custom-input
          filters
          *ngIf="state.data.length > 0"
          label="search"
          [clearFilter]="true"
          [formControl]="query"
          placeholder="type to search..."
        >
        </custom-input>
      </ng-template>
    </div>

    <custom-column columnName="actions">
      <ng-template let-user let-index="index">
        <custom-button
          variant="icon"
          tooltip="Edit"
          iconClass="mdi-pencil-outline text-action-icon-hover"
          [class.visibility-hidden]="selection.length > 1"
          [disabled]="state.loading"
          (click)="onBulk(user)"
        >
        </custom-button>
        <custom-button
          variant="icon"
          tooltip="Delete"
          iconClass="mdi-delete-outline text-action-icon-hover"
          [class.visibility-hidden]="selection.length > 1"
          [disabled]="state.loading"
          (click)="onDelete([user])"
        >
        </custom-button>
      </ng-template>
    </custom-column>

    <ng-template #expandedDetail let-user>
      <div class="d-flex width-100">
        <div [style.flex.%]="15">
          <i class="mdi mdi-phone-in-talk-outline mr-1"></i>
          <span class="f-12">{{ user.phone }}</span>
        </div>
        <div [style.flex.%]="35">
          <i class="mdi mdi-pin-outline mr-1"></i>
          <span class="f-12">
            {{ user.address.suite }} {{ user.address.street }}
            {{ user.address.city }} {{ user.address.zipcode }}
          </span>
        </div>
        <div [style.flex.%]="35">
          <i class="mdi mdi-toolbox-outline mr-1"></i>
          <span class="f-12">
            {{ user.company.name }} / {{ user.company.catchPhrase }}
          </span>
        </div>
        <div [style.flex.%]="15">
          <i class="mdi mdi-globe-model mr-1"></i>
          <span class="f-12">{{ user.website }}</span>
        </div>
      </div>
    </ng-template>

    <ng-container noData>
      <ng-container *ngIf="state.loading; else getData">
        <div class="text-center m-2">Loading ...</div>
      </ng-container>
      <ng-template #getData>
        <ng-container *ngIf="state.data.length > 0; else noConfigured">
          <no-results (resetFilters)="query.setValue('')"></no-results>
        </ng-container>
        <ng-template #noConfigured>
          <div class="text-center m-2">No users have been configured.</div>
        </ng-template>
      </ng-template>
    </ng-container>
  </custom-table>
</ng-container>
