%center {
  position: absolute;
  top     : 12.5%;
  left    : 50%;

  transform: translate(-50%, -50%);
}

button span {
  @extend %center;
}

.menu {
  @extend %center;
  transform: scale(0.5);

  &__item {
    transition         : .3s ease;
    transition-property: background-color, box-shadow;

    &:hover {
      background-color: var(--color-light);
    }
  }
}