<mat-progress-bar *ngIf="loading$ | async" mode="indeterminate"></mat-progress-bar>
<alert-message *ngIf="errorMessage" type="error">{{ errorMessage }}</alert-message>

<!-- Search -->
<ng-container>
  <mat-accordion>
    <mat-expansion-panel>
      <!-- Header -->
      <mat-expansion-panel-header>
        <mat-panel-title class="ai-center">
          Represent distinct UI elements.
        </mat-panel-title>
        <mat-panel-description class="jc-flex-end">
          <button mat-icon-button *ngIf="clearAllIconActive()" (click)="cleanFilters($event)"
            matTooltip="Clear All Filters" matTooltipPosition="left">
            <mat-icon>clear_all</mat-icon>
          </button>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <!-- Body -->
      <ng-template matExpansionPanelContent>
        <form [formGroup]="componentsForm" class="panel-container d-flex gap-1">
          <!-- Filter by Group Name -->
          <mat-form-field id="search-input" class="filter-group">
            <mat-label>Components</mat-label>
            <mat-select formControlName="group">
              <mat-option value="all" selected>All</mat-option>
              <mat-option *ngFor="let group of (data$ | async)" [value]="group.groupName">
                {{ group.groupName | titlecase }}
              </mat-option>
            </mat-select>
            <button matSuffix mat-icon-button *ngIf="group.value !== 'all'" matTooltip="Clear"
              (click)="cleanGroup($event)">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>

          <!-- Search by Name -->
          <mat-form-field id="search-input" class="width-100">
            <mat-label>What are you looking for today...</mat-label>
            <input matInput autocomplete="off" formControlName="query">
            <button matSuffix mat-icon-button *ngIf="query.value !== ''" matTooltip="Clear" (click)="cleanQuery()">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </form>
      </ng-template>
    </mat-expansion-panel>
  </mat-accordion>
</ng-container>

<!-- Fetch Data -->
<ng-container [ngTemplateOutlet]="noResults">
  <menu-item [data]="filteredData$"></menu-item>

  <ng-template #noResults>
    <div *ngIf="emptyMessage" class="text-center fs-16">
      <span>{{ emptyMessage }}</span>
      <br class="my-1" />
      <a class="text-light-blue text-deco-underline cursor-pointer" (click)="cleanFilters($event)">Reset your
        criteria</a>
    </div>
  </ng-template>
</ng-container>