<ng-container *ngIf="state$ | async as state">
  <alert-message *ngIf="state.error" type="error" [hasBorder]="false">
    {{ state.error }}
  </alert-message>

  <mat-progress-bar
    *ngIf="state.loading"
    mode="indeterminate"
  ></mat-progress-bar>

  <mat-accordion *ngIf="!state.message">
    <mat-expansion-panel expanded>
      <!-- Header -->
      <mat-expansion-panel-header>
        <mat-panel-title class="f-14">
          Represent distinct UI elements.
        </mat-panel-title>
        <mat-panel-description class="jc-flex-end">
          <custom-button
            variant="icon"
            iconClass="mdi-notification-clear-all mdi-24px"
            tooltip="Clear all"
            (click)="form.reset()"
            *ngIf="clearAllIconActive()"
          >
          </custom-button>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <!-- Content -->
      <ng-template matExpansionPanelContent>
        <form [formGroup]="form" class="panel-container d-flex gap-1">
          <custom-select
            [items]="selection"
            placeholder="Group"
            formControlName="group"
          ></custom-select>

          <custom-input
            class="flex-1"
            label="search"
            [clearFilter]="true"
            formControlName="query"
            placeholder="What are you looking for today..."
          >
          </custom-input>
        </form>
      </ng-template>
    </mat-expansion-panel>
  </mat-accordion>

  <ng-container *ngIf="state.data">
    <ng-container *ngIf="state.data.length > 0; else notFound">
      <card-item
        [data]="state.data"
        [searchTerm]="form.get('query').value"
      ></card-item>
    </ng-container>

    <ng-template #notFound>
      <no-results (resetFilters)="form.reset()"></no-results>
    </ng-template>
  </ng-container>
</ng-container>
