$-maximum: 3;

@for $index from 0 through $-maximum {
  .flex-#{$index} {
    flex: $index;
  }

  .flex-grow-#{$index} {
    flex-grow: $index;
  }

  .gap-#{$index} {
    gap: $index * 1rem;
  }
}

$-justify-content: ('center': center,
  'between': space-between,
  'space-around': space-around,
  'flex-end': flex-end,
);

@each $name,
$position in $-justify-content {
  .jc-#{$name} {
    justify-content: $position;
  }
}

$-align-items: ('center': center,
  'baseline': baseline,
  'flex-end': flex-end,
);

@each $name,
$position in $-align-items {
  .ai-#{$name} {
    align-items: $position;
  }
}

.as {
  &-center {
    align-self: center;
  }
}

.flex {
  &-auto {
    flex: 1 1 auto;
  }

  &-wrap {
    flex-wrap: wrap;
  }

  &-direction {
    &-column {
      flex-direction: column;
    }

    &-row {
      flex-direction: row;
    }
  }
}