$-dark-shadow : rgba(0, 0, 0, 0.15);
$-light-shadow: rgba(17, 12, 46, 0.15);
$-transition  : .2s all ease-in-out;

%light {
  box-shadow: $-light-shadow 0px 48px 100px 0px;
}

%dark {
  box-shadow: 0 0.5rem 1rem $-dark-shadow;
}

:is(.bs-light, .bs-light-hover:hover) {
  @extend %light;
  transition: $-transition;
}

:is(.bs-dark, .bs-dark-hover:hover) {
  @extend %dark;
  transition: $-transition;
}
