$-transition: 0.2s all ease-in-out;

%light {
  box-shadow: 0 0.125rem 1rem var(--base-03);
}

%dark {
  box-shadow: 0 0.5rem 1rem var(--base-04);
}

:is(.bs-light, .bs-light-hover:hover) {
  @extend %light;
  transition: $-transition;
}

:is(.bs-dark, .bs-dark-hover:hover) {
  @extend %dark;
  transition: $-transition;
}
