@use 'palette';

$-icon-fill-dark : #131313;
$-icon-fill-light: #737373;

.icon {
  &-dark {
    fill: $-icon-fill-dark;
  }

  &-light {
    fill: $-icon-fill-light;
  }
}

.icon {
  &-valid {
    color: palette.$success;
  }

  &-invalid {
    color: palette.$error;
  }
}