@mixin mutual-config($color) {
  border: 1px solid $color;
  color : rgba($color, $alpha: 0.9);
}

@mixin chip-config($color) {
  @include mutual-config($color);
  background-color: rgba($color, $alpha: 0.1);

}

@mixin message-config($color, $bgColor) {
  @include mutual-config($color);
  background-color: $bgColor;
}