@use 'palette';

$-colors: ('white': palette.$white,
  'black': palette.$black,
  'error': palette.$error,
  'light': palette.$light,
  'secondary': palette.$secondary,
  'dark-blue': palette.$dark-blue,
  'light-blue': palette.$light-blue,
);

.text {

  @each $name,
  $color in $-colors {
    &-#{$name} {
      color: $color;
    }
  }

}

$-colors-hovered: ('dark-blue': palette.$dark-blue,
  'light-blue': palette.$light-blue,
);

.text-hover {

  @each $name,
  $color in $-colors-hovered {
    &-#{$name}:hover {
      color: $color;
    }
  }

}