$-colors: (
  "primary": var(--primary),
  "primary-active": var(--primary-active),
  "secondary": var(--text-02),
  "white": var(--base-01),
  "link": var(--link),
  "error": var(--error-fill),
);

$-colors-hover: (
  "link-hover": var(--link-hover),
);

.text {
  @each $name, $color in $-colors {
    &-#{$name} {
      color: $color;
    }
  }

  @each $name, $color in $-colors-hover {
    &-#{$name}:hover {
      color: $color;
    }
  }
}
