@use 'palette';

.text {
  &-white {
    color: palette.$white;
  }

  &-light {
    color: palette.$light;
  }

  &-light-blue {
    color: palette.$light-blue;
  }

  &-secondary {
    color: palette.$secondary;
  }

  &-black {
    color: palette.$black;
  }
}

.text-hover {
  &-light-blue:hover {
    color: palette.$light-blue;
  }
}

.title-required::after {
  content    : '*';
  color      : palette.$error;
  margin-left: 0.5rem;
}