<form [formGroup]="unsavedForm" class="d-flex jc-center">
  <div class="w-400 bg-white bd-auto bs-light p-3 m-3">
    <label for="team_name" class="d-block mb-0.25">Team Name</label>
    <mat-form-field class="width-100">
      <input matInput type="text" autocomplete="off" formControlName="team_name">
    </mat-form-field>
    <div class="d-flex jc-flex-end">
      <button mat-flat-button color="primary" [disabled]="canDeactivate()" (click)="onSubmit()">Update</button>
    </div>
  </div>
</form>