<div class="d-flex flex-direction-column jc-center ai-center">
  <!-- Message -->
  <div class="w-400 mt-3" *ngIf="!detectPermission.hasPermission">
    <alert-message type="error">
      You don't have permission to edit/ update this form.
    </alert-message>
  </div>

  <!-- Form -->
  <div class="w-400 bg-white bd-auto bs-light p-3 m-3">
    <custom-input label="Team Name" [formControl]="name">
      <small error *ngIf="name.invalid"> Required </small>
    </custom-input>

    <!-- Actions -->
    <div
      *hasPermission="['Customer', 'Guest']; op: 'OR'"
      class="d-flex jc-flex-end"
    >
      <button
        mat-flat-button
        color="primary"
        (click)="saveChanges()"
        [disabled]="!hasChanged || name.invalid"
      >
        Update
      </button>
    </div>
  </div>
</div>
