<!-- 💥 shortcut URL: http://localhost:4200/web-ui/table/advanced-crud -->

<ng-template #loadingTmpl>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>

<ng-container *ngIf="category$ | async; else loadingTmpl">
  <div class="bg-white p-3 m-3 bd-auto">
    <div class="d-flex jc-between ai-center">
      <h2 [style.margin]="0">Categories</h2>
      <button
        (click)="addNewRow()"
        [disabled]="form.invalid"
        color="primary"
        mat-flat-button
      >
        Add New Row
      </button>
    </div>

    <!-- Table -->
    <form [formGroup]="form">
      <ng-container formArrayName="rows">
        <table
          [dataSource]="dataSource"
          [style.border]="'1px solid lightgray'"
          class="width-100 mt-2 bd-auto"
          id="mat-table"
          mat-table
        >
          <ng-container matColumnDef="id">
            <th *matHeaderCellDef mat-header-cell>Category ID</th>
            <td
              *matCellDef="let element; let idx = index"
              [formGroup]="element"
              mat-cell
            >
              <custom-input
                [appearance]="rows.value[idx].isEditable ? 'legacy' : 'none'"
                [readonly]="!rows.value[idx].isEditable"
                [style]="'width: 90%'"
                formControlName="categoryId"
                type="text"
              ></custom-input>
            </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th *matHeaderCellDef mat-header-cell>Category Name</th>
            <td
              *matCellDef="let element; let idx = index"
              [formGroup]="element"
              mat-cell
            >
              <custom-input
                [appearance]="rows.value[idx].isEditable ? 'legacy' : 'none'"
                [readonly]="!rows.value[idx].isEditable"
                [style]="'width: 90%'"
                formControlName="categoryName"
                type="text"
              ></custom-input>
            </td>
          </ng-container>

          <!-- Actions -->
          <ng-container matColumnDef="action">
            <th *matHeaderCellDef [style.text-align]="'center'" mat-header-cell>
              Actions
            </th>
            <td
              *matCellDef="let element; let idx = index"
              [formGroup]="element"
              [style.text-align]="'center'"
              mat-cell
            >
              <button
                (click)="saveChanges(idx)"
                *ngIf="rows.value[idx].isEditable"
                [disabled]="isValidRow(idx)"
                color="primary"
                mat-icon-button
                matTooltip="Save Changes"
                matTooltipPosition="left"
              >
                <mat-icon>check_circle</mat-icon>
              </button>

              <button
                (click)="cancelChanges(idx)"
                *ngIf="rows.value[idx].isEditable"
                [style.margin-left.rem]="0.5"
                color="warn"
                mat-icon-button
                matTooltip="Cancel Changes"
                matTooltipPosition="right"
              >
                <mat-icon>cancel</mat-icon>
              </button>

              <button
                (click)="editItem(idx)"
                *ngIf="!rows.value[idx].isEditable"
                [disabled]="isValidRow(idx)"
                color="primary"
                mat-icon-button
                matTooltip="Edit"
                matTooltipPosition="left"
              >
                <mat-icon>swap_horizontal_circle</mat-icon>
              </button>

              <button
                (click)="deleteItem(idx)"
                *ngIf="!rows.value[idx].isEditable"
                [style.margin-left.rem]="0.5"
                color="warn"
                mat-icon-button
                matTooltip="Delete"
                matTooltipPosition="right"
              >
                <mat-icon>remove_circle</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
          <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>

          <tr *matNoDataRow class="mat-row text-center">
            <td class="mat-cell" colspan="3">No data found.</td>
          </tr>
        </table>
      </ng-container>
    </form>
  </div>
</ng-container>
