<div class="d-flex flex-direction-column ai-center jc-center m-2">
  <div class="list w-50 position-relative d-flex flex-direction-column ai-center">
    <button class="w-50 h-50 text-white bd-circle bg-black z-index-100" (click)="onClick(menu)">
      <span class="f-24 d-inline-block">+</span>
    </button>

    <div class="menu d-flex ai-center jc-center z-index-10 mt-8" #menu>
      <span class="position-absolute bd-circle w-32 h-32" style="background-color: #FFCF7D;"></span>
      <span class="position-absolute bd-circle w-32 h-32" style="background-color: #FFA67F;"></span>
      <span class="position-absolute bd-circle w-32 h-32" style="background-color: #C09CFE;"></span>
      <span class="position-absolute bd-circle w-32 h-32" style="background-color: #04D9FF;"></span>
      <!-- <span class="position-absolute bd-circle w-32 h-32" style="background-color: #E8F19B;"></span> -->
    </div>
  </div>

  <svg>
    <filter id="liquid">
      <feGaussianBlur in="SourceGraphic" stdDeviation="10" />
      <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" />
      <feBlend in="SourceGraphic" in2="liquid" />
    </filter>
  </svg>
</div>