$colors: (
  "support-01": #a8cef1,
  "support-09": #dab3f9,
  "support-11": #fee797,
  "support-15": #7fd7cc,
);

@each $name, $color in $colors {
  .#{$name} {
    background-color: rgba($color, 0.9);
  }
}

svg.icon-arrow-up {
  fill: currentColor;
}
