@use "palette";

$colors: (
  "lightpurple": #9ab3f5,
  "lightgrey": #f47c7c,
  "lightgreen": #e8ffff,
  "lightorange": #ffe8d6,
);

@each $name, $color in $colors {
  .#{$name} {
    background-color: rgba($color, 0.9);
  }
}

svg.icon-arrow-up {
  fill: currentColor;
}
