<div class="d-flex ai-center jc-center flex-wrap gap-2 m-2" #el>
  <ng-container *ngFor="let item of animatedCardList | async">
    <div
      class="d-flex flex-direction-column w-300 h-300 bd-radius-24"
      [ngClass]="item.color"
    >
      <div class="card-icon-header d-flex ai-center p-0 mt-2 ml-2">
        <div
          class="icon-container d-flex jc-center ai-center w-100 h-100 bg-white bd-radius-24"
        >
          <svg class="icon w-40 h-40 icon-dark">
            <use attr.href="assets/svg/icons.svg#{{ item.icon }}"></use>
          </svg>
        </div>
      </div>

      <div
        class="card-content d-flex flex-direction-column jc-center flex-1 px-2"
      >
        <div id="card-title">
          <h4 class="text-dark text-capitalize fw-400">{{ item.title }}</h4>
        </div>
        <div id="card-total" class="d-flex">
          <span
            class="total f-32"
            [appAnimatedCounter]="item.amount"
            [delay]="1000"
          ></span>
          <div class="percent-wrapper">
            <svg class="icon-arrow-up w-10 h-10">
              <use href="assets/svg/icons.svg#icon-arrow-thin-up"></use>
            </svg>
            <span
              class="percent f-13 ml-1"
              [appAnimatedCounter]="item.percent"
              [delay]="1200"
            >
              %
            </span>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
