<article class="d-grid template-container gap-1 p-2">
  <ng-container *ngFor="let group of data">
    <mat-card *ngFor="let item of group.groupDetails">
      <!-- Header -->
      <ng-container>
        <div class="d-flex jc-between ai-baseline">
          <mat-card-title class="f-16">
            {{ item.name | titlecase }}
          </mat-card-title>
          <button
            mat-icon-button
            class="button-description"
            [matTooltipPosition]="'below'"
            [matTooltip]="item.description ? item.description : 'Updating...'"
          >
            <mat-icon
              class="f-20 text-secondary text-hover-dark-blue opacity-0.8"
            >
              info_outline
            </mat-icon>
          </button>
        </div>

        <mat-card-subtitle>
          <mat-chip-list aria-label="Group name">
            <mat-chip class="f-13" (click)="onSelect(group.groupName)">
              {{ group.groupName | titlecase }}
            </mat-chip>
          </mat-chip-list>
        </mat-card-subtitle>
      </ng-container>

      <!-- Actions -->
      <mat-card-actions class="text-right">
        <button
          mat-button
          color="primary"
          aria-label="View Details"
          (click)="directItem(group.groupUrl, group.groupName, item.route)"
        >
          <mat-icon class="mr-1">play_arrow</mat-icon>
          <span>View</span>
        </button>
      </mat-card-actions>
    </mat-card>
  </ng-container>
</article>
