$-decorations: none, underline;
$-transformations: none, uppercase, capitalize;

.text-deco {
  @each $item in $-decorations {
    &-#{$item} {
      text-decoration: $item;
    }
  }
}

.text {
  @each $item in $-transformations {
    &-#{$item} {
      text-transform: $item;
    }
  }
}
