.text-deco {
  &-none {
    text-decoration: none;
  }

  &-underline {
    text-decoration: underline;
  }
}

.text {
  &-none {
    text-transform: none;
  }

  &-uppercase {
    text-transform: uppercase;
  }

  &-capitalize {
    text-transform: capitalize;
  }
}