@use '@angular/material' as mat;
@import './size', './weight', './transform', './align';
// custom material typography
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

:root {
  --font-family: "Manrope",-apple-system,"BlinkMacSystemFont",system-ui,"Roboto","Segoe UI","Helvetica Neue",sans-serif;
  --font-style: normal;
  --font-size: 0.8125rem/1.25rem;
  --font-text: var(--font-style) var(--font-size) var(--font-family)
}

$custom-typography: mat.define-typography-config(
    $font-family: var(--font-family),
);

@include mat.core($custom-typography);
