<div>
  <ng-container *ngIf="errorMessage$ | async as message">
    <alert-message type="error">{{ message }}</alert-message>
  </ng-container>

  <div class="bg-white bd-auto p-2">
    <ng-template #loadingTmpl>
      <mat-spinner class="m-0-auto"></mat-spinner>
    </ng-template>

    <ng-container *ngIf="products$ | async as products; else loadingTmpl">
      <div class="d-flex jc-between">
        <h3 [style.margin.rem]="0">List of Products</h3>
        <custom-button type="icon" (click)="onRefresh()">refresh</custom-button>
      </div>

      <ng-container *ngFor="let product of products">
        <div class="d-block mt-1">
          <custom-button type="text" (click)="onSelected(product.productId)">
            {{ product.productName | titlecase }}
          </custom-button>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>
