<mat-card>
  <mat-list *ngIf="products$ | async as products">
    <h3 matSubheader>
      <div class="mr-auto">
        <span>List of Products</span>
      </div>
      <button mat-icon-button data-toggle="tooltip" title="Refresh Data" (click)="onRefresh()">
        <mat-icon>refresh</mat-icon>
      </button>
    </h3>

    <mat-action-list *ngFor="let product of products">
      <button mat-list-item [ngClass]="{'active': product?.productId === (selectedProductId$ | async)}"
        (click)="onSelected(product.productId)"> {{product.productName | titlecase}} </button>
    </mat-action-list>
  </mat-list>
</mat-card>