<div>
  <ng-container *ngIf="errorMessage$ | async as message">
    <alert-message type="error">{{ message }}</alert-message>
  </ng-container>

  <div class="bg-white bd-auto p-2">
    <ng-template #loadingTmpl>
      <mat-spinner [diameter]="75" class="m-0-auto"></mat-spinner>
    </ng-template>

    <ng-container *ngIf="products$ | async as products; else loadingTmpl">
      <div class="d-flex jc-between">
        <h3 [style.margin.rem]="0">List of Products</h3>
        <custom-button
          variant="icon"
          tooltip="Refresh data"
          iconClass="text-secondary"
          (click)="onRefresh()"
        >
          <ng-container icon>refresh</ng-container>
        </custom-button>
      </div>

      <ng-container *ngFor="let product of products">
        <custom-button
          variant="basic"
          class="d-block text-secondary"
          routerLinkActive="text-black"
          [routerLink]="[
            '/functions/rxjs/data-composition-ng-conf/',
            product.productId
          ]"
        >
          {{ product.productName | titlecase }}
        </custom-button>
      </ng-container>
    </ng-container>
  </div>
</div>
