<div class="d-flex ai-center jc-center p-2">
  <a mat-button href="https://www.facebook.com/diosvo/" target="_blank" color="primary" aria-label="Facebook"
    data-toggle="tooltip" title="diosvo">Facebook</a>
  <div class="d-flex ai-center mx-1">
    🔥
    <div class="mx-1" [ngStyle]="{ 'width.px': 50, 'height.px': 44 }">
      <img src="assets/images/logo/logo.png" alt="logo" width="100%">
    </div>
    🔥
  </div>
  <a mat-button href="https://github.com/diosvo/" target="_blank" color="primary" aria-label="Github"
    data-toggle="tooltip" title="diosvo">Github</a>
  <!-- <a mat-button href="https://www.linkedin.com/in/diosvo/" target="_blank" color="primary" aria-label="Linkedin"
    data-toggle="tooltip" title="diosvo">Linkedin</a> -->
</div>