<div class="d-flex ai-center jc-center p-2">
  <a
    mat-button
    title="diosvo"
    target="_blank"
    color="primary"
    data-toggle="tooltip"
    aria-label="Facebook"
    href="https://www.facebook.com/diosvo/"
  >
    Facebook
  </a>
  <div class="d-flex ai-center mx-1">
    🔥
    <div class="mx-1 footer-img">
      <img
        src="assets/images/logo/logo.png"
        alt="logo"
        width="100%"
        height="100%"
      />
    </div>
    🔥
  </div>
  <a
    mat-button
    title="diosvo"
    target="_blank"
    color="primary"
    aria-label="Github"
    data-toggle="tooltip"
    href="https://github.com/diosvo/"
  >
    Github
  </a>
  <!-- <a mat-button href="https://www.linkedin.com/in/diosvo/" target="_blank" color="primary" aria-label="Linkedin"
    data-toggle="tooltip" title="diosvo">Linkedin</a> -->
</div>
