<div class="bg-white bd-auto p-2 m-2">
  <input
    class="bd-light bd-auto p-1"
    placeholder="Search"
    [formControl]="control"
    [appAutocomplete]="autocomplete"
  />

  <app-autocomplete #autocomplete="appAutocomplete">
    <ng-template appAutocompleteContent>
      <ng-container *ngIf="users$ | async as users; else loading">
        <ng-container *ngIf="users | filter: control.value as result">
          <app-select-option
            *ngFor="let option of result"
            [value]="option.username"
            (emitValue)="stateChanges(option.id)"
          >
            {{ option.name }}
          </app-select-option>
          <app-select-option class="no-result" *ngIf="!result.length">
            No result
          </app-select-option>
        </ng-container>
      </ng-container>

      <ng-template #loading>
        <div class="d-flex jc-center ai-center">
          <mat-spinner [diameter]="50"></mat-spinner>
        </div>
      </ng-template>
    </ng-template>
  </app-autocomplete>
</div>

<lookup-users-data-table [users]="imported$"></lookup-users-data-table>
