.light-theme {
  --background-color: #F0F2F5;
  --text-color      : #1A1A1A;
  --box-color       : #FFF;
  --button-color    : #FFF;

  --box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.1);
  --transition: all .1s ease;
}

.dark-theme {
  --background-color: #1A1A1A;
  --text-color      : #F5F5F5;
  --box-color       : #2B2B2B;
  --button-color    : #1A1A1A;

  --transition: all .1s ease;
}

.container {
  background-color: var(--background-color);
  transition      : all .3s ease-in-out;
}

.box {
  letter-spacing  : .5px;
  background-color: var(--box-color);

  box-shadow: var(--box-shadow);
  transition: var(--transition);

  &:not(:last-child) {
    margin-bottom: 2rem;
  }

  .header {
    color: var(--text-color);
  }

  .paragraph {
    color     : var(--text-color);
    transition: var(--transition);
  }
}