<div class="p-2">
  <back-button [style.margin-right.rem]="1"></back-button>
  <button
    mat-button
    class="bg-black text-white bd-auto py-1 px-2 btn:hover cursor-pointer"
    (click)="switchTheme()"
  >
    Switch
  </button>
</div>

<div
  class="container p-3 mx-2"
  [class]="{ 'dark-theme': isDarkTheme, 'light-theme': !isDarkTheme }"
>
  <div class="box m-0-auto p-3 bd-auto">
    <h1 class="header mb-1">Header</h1>
    <p class="paragraph">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet, veritatis?
      Excepturi aperiam dolor quo odio impedit vero, obcaecati itaque quae,
      minus modi unde magnam, repudiandae quas consectetur harum fugiat. Quo.
    </p>
  </div>

  <div class="box m-0-auto p-3 bd-auto">
    <h1 class="header mb-1">Header</h1>
    <p class="paragraph">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet, veritatis?
      Excepturi aperiam dolor quo odio impedit vero, obcaecati itaque quae,
      minus modi unde magnam, repudiandae quas consectetur harum fugiat. Quo.
    </p>
  </div>
</div>
