<form [formGroup]="filterForm" class="d-flex width-100">
  <mat-form-field class="mr-2">
    <mat-label>State</mat-label>
    <mat-select formControlName="state" multiple>
      <mat-option *ngFor="let state of ['open', 'closed']" [value]="state">
        {{ state | titlecase }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="width-100">
    <mat-label>Search</mat-label>
    <input matInput formControlName="query" autocomplete="off" />
  </mat-form-field>
</form>
