<article class="d-grid container gap-1 p-2">
  <ng-container *ngFor="let item of data; trackByKey: 'routing_path'">
    <div
      data-toggle="tooltip"
      (click)="directItem(item)"
      class="p-2 bg-white bd-auto bs-light-hover"
      [class]="item.is_maintained ? 'cursor-prevent' : 'cursor-pointer'"
      [title]="item.is_maintained ? 'Site under maintenance' : item.description"
    >
      <div class="f-12">
        <span class="text-secondary">#{{ item.group_id }} </span>
        <span *ngIf="item.is_maintained && prod_mode" class="text-error">
          #maintenance
        </span>
      </div>
      <div [highlight]="searchTerm" [innerText]="item.name | titlecase"></div>
    </div>
  </ng-container>
</article>
