@import "layout/breakpoints";

.container {
  @include screen("extra-large") {
    grid-template-columns: repeat(5, 1fr);
  }

  @include screen("large") {
    grid-template-columns: repeat(4, 1fr);
  }

  @include screen("medium") {
    grid-template-columns: repeat(3, 1fr);
  }

  @include screen("small") {
    grid-template-columns: repeat(2, 1fr);
  }

  @include screen("extra-small") {
    grid-template-columns: repeat(1, 1fr);
  }

  .notice {
    border: 1px solid var(--error-fill);
  }
}
