<ng-container *ngIf="state$ | async as state">
  <custom-table
    [data]="state.data | filter: query.value"
    [columns]="columns"
    [defaultSortColumn]="'title'"
    [pageSizeOptions]="[3, 5, 10, 20]"
  >
    <div header class="d-flex ai-baseline jc-between">
      <h2>List Articles</h2>
      <custom-button variant="flat" [routerLink]="['create']">
        Create
      </custom-button>
    </div>

    <custom-input
      filters
      label="Search"
      [formControl]="query"
      [clearFilter]="true"
    ></custom-input>

    <custom-column columnName="body">
      <ng-template let-article>
        <div [innerHTML]="article.body | lineBreak"></div>
      </ng-template>
    </custom-column>

    <ng-container noData *ngIf="!state.loading">
      <span>No results match. The active filters are hiding all items.</span>
      <a
        (click)="query.setValue('')"
        class="text-light-blue text-deco-underline cursor-pointer"
      >
        Reset filters
      </a>
    </ng-container>
  </custom-table>
</ng-container>
