<ng-container *ngIf="errorMessage$ | async as message; else noError">
  <alert-message type="error"> {{ message }} </alert-message>
</ng-container>

<ng-template #noError>
  <ng-container *ngIf="state$ | async as state">
    <ng-container *ngIf="state.loading; else getData">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </ng-container>

    <ng-template #getData>
      <custom-table [data]="state.articles" [columns]="columns">
        <div header class="d-flex ai-baseline jc-between">
          <h2>List Articles</h2>
          <custom-button [routerLink]="['create']">Create</custom-button>
        </div>

        <custom-column columnName="actions">
          <ng-template let-article>
            <custom-button type="icon" [routerLink]="[article.id]">
              edit
            </custom-button>
          </ng-template>
        </custom-column>
      </custom-table>
    </ng-template>
  </ng-container>
</ng-template>
