<ng-container *ngIf="errorMessage$ | async as message; else noError">
  <alert-message type="error"> {{ message }} </alert-message>
</ng-container>

<ng-template #noError>
  <ng-container *ngIf="state$ | async as state">
    <custom-table
      [data]="state.data | filter: query.value"
      [columns]="columns"
      [pageSizeOptions]="[3, 5, 10, 20]"
    >
      <div header class="d-flex ai-baseline jc-between">
        <h2>List Articles</h2>
        <custom-button variant="flat" [routerLink]="['create']">
          Create
        </custom-button>
      </div>

      <div filters>
        <custom-input
          label="Search"
          [formControl]="query"
          [clearFilter]="true"
        ></custom-input>
      </div>

      <custom-column columnName="body">
        <ng-template let-article>
          <div [innerHTML]="article.body | lineBreak"></div>
        </ng-template>
      </custom-column>

      <custom-column columnName="actions">
        <ng-template let-article>
          <custom-button
            variant="icon"
            iconClass="f-16 text-secondary"
            [routerLink]="[article.id]"
          >
            <ng-container icon>edit</ng-container>
          </custom-button>
        </ng-template>
      </custom-column>
    </custom-table>
  </ng-container>
</ng-template>
