<div class="bg-white bd-auto bs-light w-400 p-3">
  <ng-container *ngIf="user$ | async as user">
    <ng-container *ngIf="hasUser(); else noUser">
      <div class="d-flex jc-flex-end mb-1">
        <ng-container *ngIf="!createMode()">
          <button mat-stroked-button color="warn" (click)="onDelete()">
            <mat-icon>delete_outline</mat-icon>
          </button>
          <button
            *ngIf="hasChanged"
            color="accent"
            mat-stroked-button
            (click)="onReset()"
            [style.margin-left.px]="8"
          >
            <mat-icon>restore</mat-icon>
          </button>
        </ng-container>
        <button
          mat-flat-button
          color="primary"
          (click)="saveChanges()"
          [disabled]="!isReadyToSave()"
          [style.margin-left.px]="8"
        >
          Save
        </button>
      </div>

      <form [formGroup]="form">
        <custom-input
          label="Name"
          [required]="true"
          [showAsterisk]="true"
          formControlName="name"
        ></custom-input>

        <custom-input
          label="Email"
          formControlName="email"
          [required]="true"
          [showAsterisk]="true"
        >
          <mat-icon suffix class="icon-valid" *ngIf="form.get('email').valid">
            check_circle
          </mat-icon>
          <mat-icon
            suffix
            class="icon-invalid"
            *ngIf="form.get('email').hasError('email')"
          >
            error
          </mat-icon>
        </custom-input>
      </form>
    </ng-container>

    <!-- No User -->
    <ng-template #noUser>
      <div class="d-flex ai-center jc-between">
        <span>No user found.</span>
        <button mat-icon-button color="primary" (click)="onCreate()">
          Create
        </button>
      </div>
    </ng-template>
  </ng-container>
</div>
