<!-- 💥image: https://dribbble.com/shots/14691009-Form-Elements -->

<form
  [formGroup]="orderForm"
  (ngSubmit)="onSubmit()"
  class="form-container bg-white bd-auto bs-light p-3 m-2"
>
  <ng-container>
    <!-- Email -->
    <div>
      <custom-input
        label="Email address"
        formControlName="email"
        [required]="true"
        [showAsterisk]="true"
      >
        <mat-icon suffix class="icon-valid" *ngIf="email.valid">
          check_circle
        </mat-icon>
        <mat-icon suffix class="icon-invalid" *ngIf="email.hasError('email')">
          error
        </mat-icon>
        <small error>Required</small>
      </custom-input>
    </div>

    <!-- Personal Information -->
    <div class="my-1">
      <label for="full-name" class="d-block mb-0.25">Full name</label>
      <div class="full-name gap-1" formGroupName="personalInfo">
        <div class="flex-grow-1">
          <custom-input
            type="text"
            formControlName="firstName"
            placeholder="First Name"
          ></custom-input>
        </div>
        <div class="flex-grow-1">
          <custom-input
            type="text"
            formControlName="lastName"
            placeholder="Last Name"
          ></custom-input>
        </div>
      </div>
    </div>

    <!-- Address -->
    <div class="my-1" formGroupName="location">
      <label for="address" class="d-block mb-0.25">Address</label>
      <div>
        <custom-input
          type="text"
          formControlName="street"
          placeholder="Street Address"
        ></custom-input>
        <custom-input
          type="text"
          formControlName="building"
          placeholder="Office, Suite, Apt, ..."
        ></custom-input>
      </div>

      <div class="location gap-1">
        <div class="city">
          <custom-input
            label="City"
            type="text"
            formControlName="city"
          ></custom-input>
        </div>
        <div class="state">
          <custom-input
            label="State"
            type="text"
            formControlName="state"
            placeholder="Choose..."
          ></custom-input>
        </div>
        <div class="zip">
          <custom-input
            label="Zip"
            type="number"
            formControlName="zip"
          ></custom-input>
        </div>
      </div>
    </div>
  </ng-container>

  <div class="d-flex jc-flex-end">
    <button mat-flat-button color="primary" class="width-100">
      Place Order
    </button>
  </div>
</form>
