.mat-dialog-container {
  padding : 1rem !important;
  overflow: hidden !important;
}

.mat-dialog-title {
  margin-bottom: 0 !important;
}

.mat-dialog-content {
  margin : 0.5rem 0 1rem 0 !important;
  padding: 0 !important;
}

.mat-dialog-actions {
  padding   : 0 !important;
  margin    : 0 !important;
  min-height: 0 !important;
}

.dialog-close-button.mat-icon-button {
  margin: -1rem -1rem 0 0;
}