@mixin height-px($i) {
  height: $i * 1px;
}

.full-screen-height {
  height: 100vh;
}

.max-height {
  max-height: 100%;
}

.min-height {
  min-height: 0;
}

.height {
  &-inherit {
    height: inherit;
  }

  &-100 {
    height: 100%;
  }
}

.h {
  &-10 {
    @include height-px(10);
  }

  &-25 {
    @include height-px(25);
  }

  &-32 {
    @include height-px(32);
  }

  &-40 {
    @include height-px(40);
  }

  &-50 {
    @include height-px(50);
  }

  &-100 {
    @include height-px(100);
  }

  &-300 {
    @include height-px(300);
  }

  &-400 {
    @include height-px(400);
  }

  &-500 {
    @include height-px(500);
  }
}
