$-items: 10, 32, 40, 100, 300;

.full-screen-width {
  width: 100vw;
}

.max-width {
  max-width: 100%;
}

.max-width-content {
  max-width: max-content;
}

.min-width {
  min-width: 0;
}

.width {
  &-inherit {
    width: inherit;
  }

  &-100 {
    width: 100%;
  }
}

.w {
  @each $item in $-items {
    &-#{$item} {
      width: $item * 1px;
    }
  }
}
