@import './assets/scss/main.scss';

*,
*::before,
*::after {
    padding   : 0;
    margin    : 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    background-color: var(--body-color);
    font-family     : Roboto, "Helvetica Neue", sans-serif;
}

p {
    margin: 0;
}

ul {
    li {
        list-style-type: none;
    }

    a {
        text-decoration: none;
    }
}