@use "main";

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  background-color: #f6f6f6;
  font: var(--font-text);
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin: 0;
}

ul {
  li {
    list-style-type: none;
  }

  a {
    text-decoration: none;
  }
}
