@use "sass:map";
@use "@angular/material" as mat;
@use "./variables" as var;

// typography

$custom-typography: mat.define-typography-config(
  $body-1: mat.define-typography-level(var.$font-size, 20px, 400),
  $font-family: var.$font-family,
);

// palette

$custom-primary: mat.define-palette(var.$primary, 400);
$custom-accent: mat.define-palette(var.$accent, 400);

$custom-theme: mat.define-light-theme(
  (
    color: (
      primary: $custom-primary,
      accent: $custom-accent,
    ),
  )
);

// config

@include mat.core($custom-typography);
@include mat.all-component-themes($custom-theme);

// export global variables

:root {
  --font-text: #{var.$font-style var.$font-size var.$line-height
    var.$font-family};
  --primary: #{map-get($custom-primary, 400)};
  --base-01: #{#fff};
  --base-02: #{#f6f6f6};
  --text-01: #{#1b1f3b};
  --text-02: #{rgba(27, 31, 59, 0.65)};
}
