<ng-container *ngIf="list$ | async as list; else loading">
  <div class="container d-flex gap-2">
    <div *ngFor="let item of list">
      <div
        class="item d-flex flex-direction-column ai-center bg-white bd-auto bs-dark-hover p-3"
      >
        <img
          [src]="item.image"
          [alt]="item.image"
          width="100%"
          height="250"
          class="mb-2"
        />
        <h2
          [style.transition]="'all .2s ease-in-out'"
          class="text-hover-dark-blue cursor-pointer"
          [innerText]="item.name | titlecase"
        ></h2>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>
