<div class="bg-white w-500 bd-auto p-2">
  <ng-container *ngIf="user$ | async as user; else loadingTmpl">
    <div class="d-flex jc-between ai-center">
      <user-breadcrumbs [user]="user">Details</user-breadcrumbs>
      <button
        mat-flat-button
        color="primary"
        (click)="onUpdate()"
        [disabled]="!isValid || !hasChanged"
      >
        Save
      </button>
    </div>

    <hr />

    <user-details
      [user]="user"
      (isValid)="isValid = $event"
      (changed)="onFormChanged($event)"
    ></user-details>
  </ng-container>

  <ng-template #loadingTmpl>
    <div class="d-flex jc-center">
      <mat-spinner [diameter]="50"></mat-spinner>
    </div>
  </ng-template>
</div>
